.container {
  margin: 5%;
}

.page-header {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 40px;
}

.section {
  display: flex;
  width: 50%;
  border-radius: 10px;
  flex-direction: column;
  position: relative;
  border: 1px solid black;
  padding: 25px 20px;
  margin-bottom: 30px;
}

.section button {
  font-size: 22px;
}

.header {
  position: absolute;
  top: -15px;
  padding: 0 4px;
  padding-left: 2px;
  left: 20px;
  font-size: 24px;
  font-weight: bold;
  background-color: white;
}

.sub-header {
  font-size: 12px;
  color: grey;
  margin-bottom: 20px;
}

.option {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin: 10px 0 ;
}

.option select {
  width: 90px;
}