.no-stream {
  border: 3px solid orange;
  padding: 15px 50px;
  font-size: 18px;
  margin: 40px;
  background-color: #ffe4bb;
  color: black;
  text-align: center;
  border-radius: 5px;
}

.loading {
  font-size: 35px;
}