.container {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.full-screen {
  max-width: 100vw;
  max-height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  top: 0;
  left: 0;
  overflow: hidden;
}

@keyframes ldio {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-9fgab1bhuia div {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 12px solid #5f6c36;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-9fgab1bhuia div {
  animation: ldio 0.75s linear infinite;
  top: 108.5px;
  left: 108.5px
}
.loadingio-spinner-rolling-vepf6sanmtm {
  width: 217px;
  height: 217px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-9fgab1bhuia {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-9fgab1bhuia div { box-sizing: content-box; }