.video-subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.blurb {
  margin: 10px;
}

.checkout-holder {
  width: 400px;
}

.payment-option {
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  border: 1px solid;
  background-color: rgba(100,100,100,0.1);
  transition: all 0.7s;
}

.payment-option:hover {
  background-color: rgba(100,100,100,0.2);
  cursor: pointer;
}

.price {
  /*position: absolute;*/
  bottom: 0;
}